*{padding: 0;margin: 0;}

header{
	background:#FA8533;
	height: 60px;
}
header img{height: 50px;padding: 5px 5px 5px 750px;}
header h1{float: right;padding: 10px 750px 5px 5px;color: #fff;font-family: verdana;text-align: center;}


nav{background: #222120;height:50px;}
nav ul{text-align: center;padding-top: 15px;}
nav	ul	a{font:15px verdana;text-decoration: none;color:#fff;padding: 10px;}
nav ul 	a:hover{background:#fff;color: #222120;}